.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.main-titel {
  padding: 20px;
  text-align: center;
  background-color: antiquewhite;
}

h1 {
  font-family: "Century Gothic", sans-serif;
}

.imagePrevieuw img{
height: 50px;
width: 50px;
}

.scrollbox {
  border: none;
  padding: 5px;

  width: 200px;
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  }
  
  /* Scrollbar styles */
  ::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  }
  
  ::-webkit-scrollbar-track {
  background: #ebdac6;
  border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #d1b697;  
  }
  
 